<div *ngIf="sectionImage.text == null" class="mx-auto items-center gap-x-8 gap-y-8 px-4 py-8 sm:px-6 md:max-w-7xl md:px-8">
  <div class="grid grid-cols-1 grid-rows-1 gap-4 sm:gap-6 md:gap-8">
    <div class="card w-100 sm:mx-10 bg-base-200 shadow-xl">
      <figure><img [src]="baseHref + sectionImage.imageFileName" alt="" /></figure>
    </div>
  </div>
</div>

<div *ngIf="sectionImage.text != null"
     class="flex flex-col sm:flex-row sm:items-center gap-x-8 gap-y-8 px-4 py-8 sm:px-6 md:max-w-7xl md:px-8"
     [ngClass]="{ 'sm:flex-row-reverse': sectionImage.imageFirst == false }">
  <div class="flex-1"
       [ngClass]="{ 'text-end': sectionImage.imageFirst != false }">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
      {{sectionImage.text}}
    </h2>
    <p class="text-base-content/70 mt-4">{{sectionImage.subText}}</p>
  </div>
  <div class="flex-1">
    <div class="card w-100 sm:mx-10 bg-base-200 shadow-xl">
      <figure><img [src]="baseHref + sectionImage.imageFileName" alt="" /></figure>
    </div>
  </div>
</div>
