<div class="grid gap-y-12 sm:gap-y-16 md:gap-y-20 w-full xl:flex py-8 lg:py-14">
  <app-offer-section-offer [offer]="offerSection.offers[0]" [isFirst]="true"
    class="flex flex-col flex-auto w-full"></app-offer-section-offer>

  <app-offer-section-offer [offer]="offerSection.offers[1]"
  class="flex flex-col flex-auto w-full"></app-offer-section-offer>

  <app-offer-section-offer [offer]="offerSection.offers[2]" [isLast]="true"
  class="flex flex-col flex-auto w-full"></app-offer-section-offer>
</div>
