<app-header [schema]="schema" [editing]="editing" class="fixed top-0 left-0 right-0 z-50"></app-header>

<div class="mx-0 pt-24 bg-base-100 grow">
  <div class="relative isolate">
    <div class="absolute inset-x-0 -z-50 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-primary to-secondary opacity-10 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute inset-x-0 top-[calc(20%)] -z-50 transform-gpu overflow-hidden blur-3xl sm:top-[calc(15%)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-primary to-secondary opacity-10 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>

    <router-outlet />
  </div>
</div>

<div class="bg-cover bg-no-repeat bg-center text-primary-content"
  [style.backgroundImage]="backgroundImage">
  <footer class="footer footer-center p-10 bg-primary/80">
    <aside>
      <img [src]="baseHref + logoFileName" class="inline-block h-12 w-12 rounded-full ring-2 ring-white bg-white" alt="logo">
      <p>
        <span class="font-bold">{{companyName}}</span>
        <br>
        <span>{{tagline}}</span>
      </p>
      <small>
        {{companyName}} © {{currentYear}} - All rights reserved<br />
        By the team at <a href="https://mountaintechnologiesllc.com/" class="link" target="_blank">Mountain Technologies LLC</a> -
        <a routerLink="/license" class="link">MIT License</a>
      </small>
    </aside>
  </footer>
</div>
