
<div class="grid gap-y-8 w-full xl:flex">
  <div class="flex flex-col flex-auto w-full">
    <div class="flex-auto card bg-base-100 border xl:border-e-0 rounded-3xl xl:rounded-none xl:rounded-l-3xl xl:mt-8">
      <div class="card-body">
        <h3 class="card-title">Just Good Enough</h3>
        <p class="text-base-content/70">The Just Good Enough website service.</p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight">$100</span>
          <span class="text-sm font-semibold leading-6 tracking-wide text-base-content/70">/year</span>
        </p>
        <ul role="list" class="flex flex-col flex-auto mt-8 gap-4 text-sm leading-6 text-base-content/70 sm:gap-6">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Website Hosting on Amazon Web Services.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Access to source code.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <b>Satisfaction guaranteed, or your money back.</b>
          </li>
        </ul>

        <div class="collapse text-base-content/70">
          <input type="checkbox" />
          <div class="collapse-title text-base-content/50 divider px-4 my-0">more</div>
          <div class="collapse-content px-0">
            <ul role="list" class="flex flex-col flex-auto mt-4 gap-4 text-sm leading-6 text-base-content/70 sm:gap-6">
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                Price is good for 5 years ($100).
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                All code is open source (MIT License).
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                Yearly $15 credit for registration and renewals.
              </li>
              <li class="flex gap-x-3">
                <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
                $15 credit for domain transfers.
              </li>
            </ul>
          </div>
        </div>

        <div class="card-actions justify-center">
          <button class="btn btn-block btn-primary btn-outline mt-8">Contact sales</button>
        </div>
      </div>
    </div>
    <div class="h-6 mt-3 text-center">
      <a class="link link-primary link-hover"></a>
    </div>
  </div>

  <div class="flex flex-col flex-auto w-full">
    <div class="flex-auto card opacity-70 text-base-content bg-base-100 border rounded-3xl xl:rounded-none xl:rounded-tl-3xl xl:rounded-tr-3xl">
      <div class="card-body">
        <div class="flex">
          <h3 class="card-title grow">Pretty Good</h3>
          <div class="badge badge-md bg-primary/5 text-primary">Currently planning</div>
        </div>
        <p class="flex-none text-base-content/70">
          The Pretty Good website service (but not too good).
        </p>
        <p class="flex-none mt-8 flex items-baseline gap-x-1">
          <span class="skeleton h-9 w-36"></span>
        </p>
        <p class="flex-none mt-8 flex items-baseline gap-x-1">
          <span class="skeleton h-5 w-full"></span>
        </p>
        <p class="flex-none mt-6 flex items-baseline gap-x-1">
          <span class="skeleton h-5 w-full"></span>
        </p>
        <p class="mt-6 flex items-baseline gap-x-1">
          <span class="skeleton h-5 w-full"></span>
        </p>
        <div class="card-actions justify-center">
          <span class="skeleton h-12 w-full mt-8"></span>
        </div>
      </div>
    </div>
    <div class="h-6 mt-3 text-center">
      <a class="link link-primary link-hover">Join waiting list</a>
    </div>
  </div>

  <div class="flex flex-col flex-auto w-full">
    <div class="flex-auto card bg-base-100 border xl:border-s-0 rounded-3xl xl:rounded-none xl:rounded-r-3xl xl:mt-8">
      <div class="card-body">
        <h3 class="card-title">Uffda!</h3>
        <p class="flex-none text-base-content/70">
          The Uffda! website service.
        </p>
        <p class="flex-none mt-6 flex items-baseline gap-x-1">
          <span class="text-4xl font-bold tracking-tight">Custom</span>
          <span class="text-sm font-semibold leading-6 tracking-wide text-base-content/70"></span>
        </p>
        <p class="flex-none text-base-content/70">
          Do your needs exceed what we currently provide? Look here to start a conversation.
        </p>
        <ul role="list" class="flex flex-col flex-auto mt-8 gap-4 text-sm leading-6 text-base-content/70 sm:gap-6">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-accent" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Everything in the Pretty Good website service.
          </li>
        </ul>
        <div class="card-actions justify-center">
          <button class="btn btn-block btn-primary btn-outline mt-8">Contact sales</button>
        </div>
      </div>
    </div>
    <div class="h-6 mt-3 text-center">
      <a class="link link-primary link-hover"></a>
    </div>
  </div>
</div>
