<div *ngFor="let section of sections" class="pb-7 sm:pb-12">
  <div *ngIf="section.sectionContact != null">
    <app-section-contact
      [sectionContact]="section.sectionContact">
    </app-section-contact>
  </div>

  <div *ngIf="section.sectionGrid != null">
    <app-section-grid
      [sectionGrid]="section.sectionGrid">
    </app-section-grid>
  </div>

  <div *ngIf="section.sectionHeroCentered != null">
    <app-section-hero-centered
      [sectionHeroCentered]="section.sectionHeroCentered">
    </app-section-hero-centered>
  </div>

  <div *ngIf="section.sectionHeroWithSocialAndContact != null">
    <app-section-hero-with-social-and-contact
      [sectionHeroWithSocialAndContact]="section.sectionHeroWithSocialAndContact">
    </app-section-hero-with-social-and-contact>
  </div>

  <div *ngIf="section.sectionImage != null">
    <app-section-image
      [sectionImage]="section.sectionImage">
    </app-section-image>
  </div>

  <div *ngIf="section.offerSection != null">
    <app-offer-section
      [offerSection]="section.offerSection">
    </app-offer-section>
  </div>

  <div *ngIf="section.sectionText != null">
    <app-section-text
      [sectionText]="section.sectionText">
    </app-section-text>
  </div>
</div>
