<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown">
      <div appFocusRemover tabindex="0" role="button" class="btn btn-ghost lg:hidden" title="Menu button">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="dropdown-content z-[1] menu menu-sm p-2 mt-3 shadow bg-base-100 rounded-box min-w-52">
        <li *ngFor="let page of pages()">
          <a appFocusRemover *ngIf="page.sections != null" routerLink="/{{page.link}}">
            {{ page.name }}
          </a>
          <summary *ngIf="page.pages != null">{{ page.name }}</summary>
          <ul *ngIf="page.pages != null" class="p-2">
            <li *ngFor="let subPage of page.pages">
              <a appFocusRemover routerLink="/{{subPage.link}}" class="text-nowrap">{{subPage.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl">{{companyName()}}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li *ngFor="let page of pages()">
        <a *ngIf="page.sections != null" routerLink="/{{page.link}}">
          {{ page.name }}
        </a>
        <details *ngIf="page.pages != null">
          <summary>{{ page.name }}</summary>
          <ul class="p-2">
            <li *ngFor="let subPage of page.pages">
              <a routerLink="/{{subPage.link}}" class="text-nowrap" onclick="this.parentElement.parentElement.parentElement.removeAttribute('open');document.activeElement.blur()">{{subPage.name}}</a>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end hidden sm:flex">
    <a class="btn btn-sm btn-primary hover:btn-secondary" routerLink="/sign-in">My Account</a>
  </div>
  <div class="navbar-end sm:hidden">
    <a class="btn btn-sm btn-primary" routerLink="/sign-in" aria-label="My Account">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
      </svg>
    </a>
  </div>
</div>
