<a *ngIf="imageSection.text == null && imageSection.imageFileName != null"
    class="sm:max-w-xl
           md:max-w-3xl
           lg:max-w-4xl"
    href="{{baseHref + imageSection.imageFileName}}"
    target="_blank"
    rel="noopener noreferrer">
  <img [src]="baseHref + imageSection.imageFileName"
    alt=""
    class="shadow-xl rounded-lg mx-auto" />
</a>

<div *ngIf="imageSection.text != null"
     class="flex flex-col sm:flex-row sm:items-center gap-x-8 gap-y-8 px-4 sm:mx-auto py-8 sm:px-6 md:max-w-7xl md:px-8"
     [ngClass]="{ 'sm:flex-row-reverse': imageSection.imageFirst == false }">
  <div class="flex-1"
       [ngClass]="{ 'text-center sm:text-end': imageSection.imageFirst != false }">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
      {{imageSection.text}}
    </h2>
    <p class="text-base-content/70 mt-4">{{imageSection.subText}}</p>
  </div>
  <div class="flex-1">
    <a href="{{baseHref + imageSection.imageFileName}}"
       target="_blank"
       rel="noopener noreferrer">
      <img [src]="baseHref + imageSection.imageFileName"
        alt=""
        class="shadow-xl rounded-lg" />
    </a>
  </div>
</div>

<div *ngIf="imageSection.images != null" class="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
  <a *ngFor="let image of imageSection.images"
     href="{{baseHref + image.link}}"
     target="_blank"
     rel="noopener noreferrer">
    <img [src]="baseHref + (image?.linkSm ?? image.link)"
      alt=""
      class="shadow-xl rounded-lg object-cover aspect-square mx-auto w-full" />
  </a>
</div>
